.wd-explore-search-bar {
  border-radius: 50px;
  padding-left: 50px;
}

.wd-sidebar-icon {
  padding-right: 0px;
}

.wd-sidebar-more {
  position: relative;
  right: 12px;
}

.wd-main-caption {
  position: absolute;
  bottom: 0px;
  left: 8px;
}

.wd-explore-search-icon {
  position: absolute;
  top: 6px;
  left: 30px;
}

.wd-follow-img {
  width: 48px;
  height: 48px;
}

.wd-tuit-img {
  border-radius: 10%;
}