.wd-explore-search-bar {
  border-radius: 50px;
}

.wd-explore-search-icon {
  top: 6px;
  left: 30px;
}

.wd-sidebar-more {
  right: 12px;
}

.wd-main-caption {
  left: 8px;
}

.wd-follow-img {
  width: 48px;
  height: 48px;
}

.wd-tuit-img {
  border-radius: 10%;
}
